.main {
    margin: 0 auto;
    justify-content: center;
    max-width: $width-desktop;

    @media screen and (min-width: $checkpoint-mobileS) {
        width: calc(100% - 30px);
        @include df-rev-column;
        padding: 15px;
    }
    @media screen and (min-width: $checkpoint-mobileL) {
        width: calc(100% - 40px);
        padding: 20px;
    }
    @media screen and (min-width: $checkpoint-tablet) {
        width: calc(100% - 80px);
        padding: 20px 40px;
    }
    @media screen and (min-width: $checkpoint-laptop) {
        @include df-row;
        gap: 30px;
    }

    .container {
        @media screen and (min-width: $checkpoint-mobileS) {
            @include df-column;
            gap: 10px;
            justify-content: space-between;
        }
        @media screen and (min-width: $checkpoint-mobileM) {
            @include df-row;
            gap: 20px;
            justify-content: space-around;
        }

        @media screen and (min-width: $checkpoint-laptop) {
            @include df-column;
            gap: 20px;
            justify-content: center;
        }
        .container__button {
            @media screen and (min-width: $checkpoint-mobileS) {
                width: 100%;
            }
            @media screen and (min-width: $checkpoint-mobileM) {
                width: 200px;
            }
            border: 1px solid $color-border;
            border-radius: 10px;
            height: 45px;
            background: $color-button;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: $color-button-hover;
                }
            }
        }
    }

    #containerGraph {
        width: 100%;
        height: 80vh;
        margin: 0;
        @media screen and (min-width: $checkpoint-mobileS) {
            height: 100vh;
        }
        @media screen and (min-width: $checkpoint-mobileL) {
            height: 90vh;
        }
    }

    .modal-bg {
        background: $color-background;
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }

    .modal-bg__active {
        opacity: 0.7;
        z-index: 10;
        position: fixed;
    }

    .modal-field {
        position: fixed;
        width: 100%;
        height: 100%;
        @include df-row;
        align-items: center;
        justify-content: center;
        top: -80%;
        left: 0;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        scale: 0;
    }

    .modal-field__active {
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        scale: 1;
    }

    .modal {
        position: absolute;
        width: 100%;
        background: $color-modal;
        z-index: 10;
        margin: 16px;
        @include df-column;
        gap: 20px;

        @media screen and (min-width: $checkpoint-mobileS) {
            max-width: 290px;
            padding: 10px;
            border-radius: 20px;
        }
        @media screen and (min-width: $checkpoint-mobileM) {
            max-width: 320px;
            padding: 20px;
        }
        @media screen and (min-width: $checkpoint-mobileL) {
            max-width: 360px;
            padding: 20px;
            border-radius: 40px;
        }
        @media screen and (min-width: $checkpoint-tablet) {
            max-width: 450px;
            padding: 25px 60px 25px 25px;
        }

        .modal__title {
            @include font(600, 20px, 150%);
        }

        .form {
            @include df-row;
            justify-content: space-between;
            gap: 20px;
            align-items: center;

            .form__title {
                @include font(400, 16px, 125%);
            }

            .form__input {
                padding: 5px 10px;
                height: 25px;
                border-radius: 10px;
                width: 70px;
            }
        }

        .form__hide {
            display: none;
        }

        .modal__button {
            border: 1px solid $color-border;
            width: 250px;
            height: 45px;
            border-radius: 10px;
            background: $color-button-modal;
            @include font(600, 16px, 150%);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: $color-button-hover;
                }
            }
        }
    }
}
